.img{
     margin-top: 50px;
     margin-left: 45%;
}
.nhj{
  color: #00b39b;
}
.dropbtn {
    background-color: #00b39b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #00b39b;}

  main>h1{
      color:#00b39b;
      font-size: 2.125rem;
      text-align: center;
  }
  h1 , h2 , h3 ,h4 {
    margin: 1em 0;
    font-family: 'Work Sans', sans-serif ;
       font-weight: 300;
    letter-spacing: -.3px;
  }
  .k{
      display: flex;
      flex-direction: row-reverse;
      justify-content:center;
      margin-top: 12.8px;
      margin-bottom:12.8px;
      padding-top: 10px;
      padding-bottom: 10px;


      
  }
  .q{
      margin-left: 200px;
      margin-bottom: 60px;
  }
  .p{
      margin-right: 200px;
      margin-left: 20px;
      margin-bottom: 60px;
  }
  #a {
    border-radius: 10px;
    background: #00ccb1;
    padding: 12px;
    width: 280px;
    height: 310px;
    text-align:left;
    margin-left: 200px;
    margin-right: 20px;
    
  }
  .s:hover{
    color: #00b39b;
  }
  h1{
    font-size: 2.125rem;
    text-align:left;
  }

#b {
      border-radius: 10px;
      background: #3d83df;
      padding: 12px;
      width: 280px;
      height: 310px;
    }
#c {
      border-radius: 10px;
      background: #1b2734;
      padding: 12px;
      width: 280px;
      height: 310px;
      margin-left: 20px;
    }
.ab{
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}
.ac{
  font-size: 20px;
  color: white;
  justify-content: center;
  flex-direction: column-reverse;
  margin-top: 0px;

}
.bc{
  flex-wrap: wrap;
}
.x{
  display: flex;
}
.ad{
  margin-top: 50px;
  background-color: #00ccb1;
  border-color: #00ccb1;
  color: white;
}
.mml{
  background-color: white;
  color: black;
}
.aaao{
  margin-top: 50px;
  background-color: #3d83df;
  border-color: #3d83df;
  color: white;
}
.aa{
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #1b2734;
  background-color: #1b2734;
  color: white;
}
.hff{
  background-color:#1b2734;
  border-color:#1b2734;
  color: white;

}
.ddd{
  margin-left: 20px;
  margin-right: 20px;
}
.aaa{
  color: #00b39b;
  margin-left: 200px;
  font-size: 140%;
}
.j:hover{
  color: #00b39b;
}
.kk{
  align-items: center;
  display: flex;
}
.pp{
  margin-right: 20%;
  margin-left: 0px;
}
.cvb{
  margin-right: 50px;
  margin-left: 50px;
}
.sss{
  display: grid;
  width:100%;
  height: 580px;
  background-color: rgb(201, 248, 230);
  position:relative
}
.pov{
  color: #00b39b;
  margin-left: 200px;
  font-size: 200%;
  margin-bottom: 0px;
  padding: 0px;
}
.ggg{
  font-size: 80%;
}
.mm{
   width:227px ;
   height:250px ;
   background-color: white;
   border-radius: 2%;
  text-align: center;
  position: relative;
  left: 48%;
  bottom: 222px;
  
  
}
.mlo{
  color: #00b39b;
}
.mlk{
  margin-top: 50px;
}
.ll{
  margin-top: 20px;
}
.poi{
  margin-left: 200px;
  margin-top: 0px;
}
.mio{
  width:227px ;
  height:250px ;
  background-color: white;
  border-radius: 2%;
 text-align: center;
 position: relative;
  left: 49%;
  bottom: 246px;
}
.mmao{
  width:227px ;
  height:250px ;
  background-color: white;
  border-radius: 2%;
 text-align: center;
 position: relative;
  left: 14.2%;
  top: 50px;
}
.mjh{
  width:227px ;
  height:250px ;
  background-color: white;
  border-radius: 2%;
 text-align: center;
 position: relative;
  left: 15.3%;
  top:25px ;
}
.hgg{
  color:#00b39b;
  font-size: 165%;
  text-align: center;
  margin-top: 80px;
}
.gggg{
  font-size: 80%;
  text-align: center;
  margin-bottom: 75px;
  color: #747474;
}
footer p{
  text-align: center;
  color: #ababab;
  font-size:x-small;
}
.fds{
  margin: 20px;
}
.xxx{
  width: 310px;
  height: 70px;
  background-color: white;
  padding: 20px;

}
.xx{
  margin-left: 80px;
}
.xy{
  border-radius: 2%;
}
.xxy{
  color: #747474;
}
.uu{
  text-align: center;
  margin-bottom: 80px;

}
.uux{
  text-align: center;
  font-size: 170%;
  margin-top: 70px;

}
.sus{
  margin: 20px;
}